div.initial-container {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

div.initial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

button.initial__button {
	padding: 0.5rem 1rem;
	cursor: pointer;
}
