nav.menu {
	padding: 2rem 0 0;
	margin: 0 auto;
	max-width: 400px;
}

ul.menu__list {
	list-style: none;
	display: flex;
	gap: 1rem;
}

ul.menu__list li.list__item {
	cursor: pointer;
}

ul.menu__list li.list__item--selected {
	font-weight: bold;
	cursor: pointer;
}
