* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

:root {
	--Gryffindor: #d74f3f;
	--Hufflepuff: #fcb82d;
	--Ravenclaw: #22326a;
	--Slytherin: #005d4b;
	--default: #3c4043;
}

div.char {
	width: calc(125px + 0.5rem + 5vw);
	height: calc(200px + 0.5rem + 5vw);
	position: relative;
	overflow: hidden;
	background-size: cover;
	border-radius: 0.3rem;
	border: 0.25rem solid var(--default);
	font-family: "Crete Round", serif;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
div.char--Gryffindor {
	border-color: var(--Gryffindor);
}

div.char--Hufflepuff {
	border-color: var(--Hufflepuff);
}

div.char--Ravenclaw {
	border-color: var(--Ravenclaw);
}

div.char--Slytherin {
	border-color: var(--Slytherin);
}

div.char div.container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, transparent, black);
}

div.char__info {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1rem;
}

div.char__info p.info__name {
	font-size: 1rem;
}

div.char__info p.info__status {
	font-size: 0.7rem;
}

div.char__info p.info__status {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
}

div.char__info p.info__status span.status__curr {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: gray;
	border-radius: 50%;
	margin-top: 1px;
}

div.char__info p.info__status span.status__curr--alive {
	background-color: green;
}

div.char__info p.info__status span.status__curr--dead {
	background-color: red;
}

p.char__house {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	font-size: 0.6rem;
}
