div.rand_chars div.rand_chars__area {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	margin: 3rem auto 2rem;
}

div.rand_chars button.rand_chars__more {
	padding: 0.5rem 1rem;
	cursor: pointer;
}
