html,
body {
	height: 100vh;
}

.App {
	text-align: center;
	height: 100vh;
}

.App-header {
	background-color: #282c34;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
